{% extends "index.html" %}

{% block title %} Finalizar compra {% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'order_create.css' %}">
{% endblock css %}

{% block content %}
    <h3>Resumo da compra</h3>
    <section id="order_resume">
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.purchase_qtd }}</td>
                        <td>R$ {{ item.subtotal }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><b>Total</b></td>
                    <td>R$ {{ cart.get_grand_total }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <h3>Dados do comprador</h3>
    <section id="order_form">
        <form action="{% url "orders:order_create" %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td><b>Nome:</b></td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td><b>Email:</b></td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td><b>Endereço:</b></td>
                    <td>{{ form.address }}</td>
                </tr>
                <tr>
                    <td><b>CEP:</b></td>
                    <td>{{ form.postal_code }}</td>
                </tr>
                <tr>
                    <td><b>Cidade:</b></td>
                    <td>{{ form.city }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn btn-primary" value="Finalizar pedido">
                    </td>
                </tr>   
            </table>
        </form>
    </section>
{% endblock content %}