
#messages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

.card {
    width: 20rem;
    margin: 1em;
}

.card-text {
    text-align: justify;
}