{% extends "index.html" %}

{% block title %} Login {% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "login_user.css" %}">
{% endblock css %}

{% block content %}
    <section id="login_user">
        <table>
            <form action="{% url "user_auth:login_user" %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <tr>
                        <td><label for="username" class="form-label"><b>Usuário</b></label></td>
                        <td>{{ form.username }}</td>
                    </tr>
                </div>
                <div class="mb-3">
                    <tr>
                        <td><label for="password" class="form-label"><b>Senha</b></label></td>
                        <td>{{ form.password }}</td>
                    </tr>
                </div>
                <tr>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </td>
                </tr>
            </form>
        </table>
    </section>
{% endblock content %}